#error-notification {
  width: 100%;
  padding: 1rem 2rem;
  background: rgba(255, 0, 0, 0.13);
  border: 1px solid red;
  border-radius: 10px;
  margin-bottom: 1rem;
}

#error-notification #error-title {
  margin: 0 .75rem 0 0;
}

#eror-notification #error-description {
  margin: 0;
}