#notification-box {
  font-family: monospace;
  width: 100%;
  max-width: 900px;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin: 1rem auto;
  border: 1px solid;
  background: #f5f5f5;
}

#notification-box.error {
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.13);
}

#notification-box.success {
  border: 1px solid #379e02;
  background: rgb(28 255 0 / 13%);
}

#notification-box #notification-title {
  margin: 0 .75rem 0 0;
  display: inline-block;
}

#notification-box #notification-description {
  margin: 0;
  display: inline-block;
}