/* * Footer */
footer {
  padding-top: 1rem;
  width: 100;
  height: 12rem;
  background-color: royalblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #573c1d;
}

footer nav.social-media {
  width: 25%;
  min-width: 200px;
  max-width: 400px;
}

footer nav ul {
  justify-content: space-around;
}

nav.social-media > ul li {
  font-size: 2rem;
}

h2.footer {
  margin: 0;
  color: gainsboro;
}