/* ! Global CSS Imports */
@import '../../global.css';

/* ! Header Section */
@import '../cms-header.css';
/* ! Sidebar Section */
@import '../cms-sidebar.css';

/* ! Displayed Data Section */
@import '../cms-display-data-box.css';

/* ! Error Notifications */
@import '../error-message/error-message.css';

/* ! Fonts Import */
@font-face {
  font-family: 'Crimson Text';
  src: url('../../fonts/CrimsonText-Regular.ttf');
}

/* ! Data Box Section */
h1#title {
  font-family: 'Crimson Text';
  font-size: 2rem;
  margin: 0;
}

form {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  height: calc(100vh - 5rem - 4rem - 8rem - 39px - 10px - 2rem);
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.md-size {
  width: 45% !important;
}

.sm-size {
  width: calc(100% / 3) !important;
}

.lg-size {
  width: 90%!important;
}

div.wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.form-group .form-input-title {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-control {
  box-shadow: none;
}

.form-control {
  width: 100%;
  height: 43px;
  padding: 8px 16px;
  background-color: #eee;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea.form-control {
  min-height: 75px;
  resize: none;
}

.submit-button-container {
  display: flex;
  margin-top: auto;
  /* justify-content: space-between; */
}

.submit-button-container input:last-child {
  margin-left: auto;
}

.form-button {
  padding: 1em;
}